#search-box-container
  .row
    =form_tag search_path, :method => 'get', :"data-pjax" => "", :id => "search-form" do
      .col-lg-12
        .input-group
          = text_field_tag :q, params[:q] || (@word ? @word.chars_trad : nil) || "Search/Translate Words", :class => "search_input form-control"
          %span.input-group-btn
            %button#search-submit.btn.btn-default{type: "submit"}
              .glyphicon.glyphicon-search

        / /input-group
      / /.col-lg-12
  / /.row


.example-search-container
  go fast: / - for search focus or just start typing

  &nbsp;&nbsp;

  (e.g. 
  =raw "#{link_to "你", "/search?utf8=✓&q=你", :class => "example-search"}, #{link_to "you", "/search?utf8=✓&q=you", :class => "example-search"}, #{link_to "屌你老母", "/search?utf8=✓&q=屌你老母", :class => "example-search"})"