
.page-header
  %h1
    %small
      You Searched:
    =@searched

    -if @translated_to.present?
      %span.glyphicon.glyphicon-arrow-right
      =@translated_to
  .pull-right
    .translated-by
      =surround "Translated by ", "" do
        =link_to "Bing", "http://www.bing.com/translator"


-if @error_msg
  .alert.alert-danger
    %p
      %b
        Oh Noes! 
      Stupid Bing... sigh sorry guys! Try again later.
    %p
      Error Message:
      =surround '"' do
        =@error_msg

#search-results
  %table.table
    %thead
      %tr
        %th
        %th
          Traditional
        %th
          Simplified
        %th
          Jyutping
        %th
          English Definition
        %th
          Example
    %tbody
      -i=0
      -if @db_results.present?
        -@db_results.to_enum.with_index(1) do |r, index|
          %tr
            %td
              =link_to index.to_s + ".", word_path(r)
            %td.chinese_chars
              =r.chars_trad
            %td.chinese_chars
              -if r.simp_diff?
                =r.chars_simp
            %td
              =build_jyutping(r)
              
            %td
              -if r.english_2.present?
                1.
              =r.english
              -if r.english_2.present?
                %br
                2.
                =r.english_2
            %td
              %a{:href => "http://dl.aloonak68.com/Download/Music/Mehran/1392/01/1-15/01/Robin%20Thicke%20Feat.%20T.I.%20and%20Pharrell%20-%20Blurred%20Lines%20(Itunes)%20[128].mp3", :title => "Play Me!", :class => "sm2_button"}
                Play
          -i=1
      -else
        %tr
          %td{:colspan => 6}
            .alert.alert-warning
              We did not directly find something for
              = surround '"', '".' do
                %b=@searched

-if @char_by_char
  #sentence-results
    %h2
      =@searched
      \- Character by Character

    %table.sentence-r-table
      %tr
        -@char_by_char.each do |word|
          %td.text-center
            =link_to word.chars_trad, word_path(word), :class => "result-char"
      %tr
        -@char_by_char.each do |word|
          %td.text-center
            =build_jyutping(word)

      %tr
        -@char_by_char.each do |word|
          %td
            =truncate word.english, :length => 25