
%h2#searched
  You Searched:
  %span#searched-word
    =@searched

=@error_msg
=render :partial => 'search/search_box'

#search-results
  %table.table
    %thead
      %tr
        %th
        %th
          Traditional
        %th
          Simplified
        %th
          Jyutping
        %th
          English Definition
        %th
          Example
    %tbody
      -i=0
      -if @chinese_words.present?
        -@chinese_words.each.with_index do |r, index|
          %tr
            %td
              =link_to (index + 1).to_s + ".", word_path(r)
            %td.chinese_chars
              =r.chars_trad
            %td.chinese_chars
              -if r.simp_diff?
                =r.chars_simp
            %td
              =build_jyutping(r)
              
            %td
              -if r.english_2.present?
                1.
              =r.english
              -if r.english_2.present?
                %br
                2.
                =r.english_2
            %td
              %a{:href => "http://dl.aloonak68.com/Download/Music/Mehran/1392/01/1-15/01/Robin%20Thicke%20Feat.%20T.I.%20and%20Pharrell%20-%20Blurred%20Lines%20(Itunes)%20[128].mp3", :title => "Play Me!", :class => "sm2_button"}
                Play
          -i=1
      -else
        %tr
          %td{:colspan => 6}
            We did not find anything. What were you looking for?
.pagination
  =#paginate @solr.results