
%h2#searched
  You Searched:
  %span#searched-word
    =@searched

=render :partial => 'search/search_box'

#search-results
  %table.table
    %thead
      %tr
        %th
          Traditional
        %th
          Simplified
        %th
          Jyutping
        %th
          English Definition
        %th
          Hit Value
    %tbody
      -@solr.each_hit_with_result do |hit, r|
        %tr
          %td
            =r.chars_trad
          %td
            =r.chars_simp
          %td
            =build_jyutping(r.jyutping)
            
          %td
            =r.english
          %td
            =hit.score

.pagination
  =paginate @solr.results