-content_for :title do
  =@searched

-content_for :title_site do
  | Conficius Search

.page-header
  %h1
    %small
      You Searched:
    =@searched

    -if @translated_to.present?
      %span.glyphicon.glyphicon-arrow-right
      =@translated_to
  -if @translated_to.present?
    .pull-right
      .translated-by
        =surround "Translated by ", "" do
          =link_to Translator.name, Translator.url


-if @to_en_error_msg.present?
  .alert.alert-danger
    %p
      %b
        Oh Noes!
      Stupid
      =surround "", "..." do
        =link_to Translator.name, Translator.url
      sigh sorry guys! Try again later.
    %p
      Error Message:
      =surround '"' do
        =@to_en_error_msg

#search-results
  %table.table
    %thead
      %tr
        %th
        %th
          Traditional
        %th
          Simplified
        %th
          Jyutping
        %th
          English Definition
        %th
          Clip
    %tbody
      -i=0
      -if @db_results.present?
        -@db_results.to_enum.with_index(1) do |r, index|
          %tr
            %td
              =link_to index.to_s + ".", word_path(r)
            %td.chinese_chars
              =r.chars_trad
            %td.chinese_chars
              -if r.simp_diff?
                =r.chars_simp
            %td
              =build_jyutping(r)

            %td
              -if r.english_2.present?
                1.
              =r.english
              -if r.english_2.present?
                %br
                2.
                =r.english_2
            %td
              -if r.more_info.try(:sound_url).present?
                %a.sm2_button{:href => "http://bigspace.celerity.co.uk/cantonese" + r.more_info.try(:sound_url)}

          -i=1
      -else
        %tr
          %td{:colspan => 6}
            .alert.alert-warning
              We did not directly find something for
              = surround '"', '".' do
                %b=@searched

-if @char_by_char
  #sentence-results
    %h2
      Character by Character

    %table.sentence-r-table
      %tr
        %td
        -@char_by_char.each do |word|
          %td.text-center
            =link_to word.chars_trad, word_path(word), :class => "result-chars"
            -unless word.chars_trad == word.chars_simp
              %span.result-chars-simp
                =surround "(", ")" do
                  =word.chars_simp
      %tr
        %th.text-right
          Jyutping
        -@char_by_char.each do |word|
          %td.text-center
            =build_jyutping(word)

      %tr
        %th.text-right
          English
        -@char_by_char.each do |word|
          %td
            =truncate word.english, :length => 25
      %tr
        %th.text-right
          Fully Translated
        %td.text-center{:colspan => @char_by_char.count}
          .translation
            =surround '"', '"' do
              %span.t-to-en=@char_by_char_translated || @char_by_char_translated_error
            %span.translated-by
              =surround "(by ", ")" do
                =link_to Translator.name, Translator.url

            =link_to "", retranslate_url(:t => @searched), class: "retrans-btn glyphicon glyphicon-refresh"
