%nav.navbar.navbar-default.navbar-top{role: "navigation"}
  .container
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-ex1-collapse", "data-toggle" => "collapse", type: "button"}
        %span.sr-only
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{href: root_url} Confucius Say-es
    / Collect the nav links, forms, and other content for toggling
    .collapse.navbar-collapse.navbar-ex1-collapse
      %ul.nav.navbar-nav
        %li
          = link_to "Home", root_url
        %li
          = link_to "Daily News", daily_news_url
        %li
          = link_to "Learn Tones", learn_tones_url
        %li
          = link_to "Examples", examples_url