- content_for :meta_desc do
  The best Cantonese dictionary. Search english, jyutping, and characters. Listening to pronunciation and see example sentences.


.home-search-box
  .confucius-himself
    /=image_tag "confucius.gif"


/ This is because soundManager needs to latch onto for loading. Will fix later.
:plain
  <div style="display:none;">
    <a class="sm2_button" href="http://humanum.arts.cuhk.edu.hk/Lexis/lexi-can/sound/nei5.wav" id="press">Play</a><span class="trigger">nei5</span>
  </div>
