.home-search-box
  .confucius-himself
    =image_tag "confucius.gif"
  =render :partial => 'search/search_box'

  .example-search-container
    e.g. 
    =raw "#{link_to "你", "#", :class => "example-search"}, #{link_to "you", "#", :class => "example-search"}, #{link_to "屌你老母", "#", :class => "example-search"}" 