%h1
  Legal

%p
  Most of this stuff is taken from other websites without permission. Feel free to use any of it as you want.


%h5
  Thanks to

%ol
  %li
    =link_to "Stroke Orders Project", "http://commons.wikimedia.org/wiki/Commons:Stroke_Order_Project"
  %li
    =link_to "CC-CEDICT", "http://www.mdbg.net/chindict/chindict.php?page=cc-cedict"
  %li
    =link_to "CantoDict", "http://www.cantonese.sheik.co.uk/dictionary/"