:javascript
  soundManager.setup({
    // required: path to directory containing SM2 SWF files
  });

#full-chars.text-center
  %span
    .chars-trad
      =@word.chars_trad
      %h6
        Traditional
        -if @word.chars_trad == @word.chars_simp
          &
          Simplified

  -unless @word.chars_trad == @word.chars_simp
    %span
      .chars-simp

        ="(#{@word.chars_simp})"
        %h6
          Simplified

%dl#word-info.dl-horizontal
  %dt
    Jyutping
  %dd
    =build_jyutping(@word)
  %dt
    English
  %dd
    %ol
      %li
        =@word.english
      -if @word.english_2.present?
        %li
          =@word.english_2

  -if @word.stroke_image.file?
    %dt
      Stroke Order
    %dd
      =image_tag @word.stroke_image.url

  %dt
    Example Sentences

  %dd  
    %table
      -@word.compounds.sound_ordered_info.each do |compound|
        %tr
          %td.example-play
            -if compound.more_info.try(:sound_url).present?
              %a.sm2_button{:href => "http://bigspace.celerity.co.uk/cantonese/" + compound.more_info.try(:sound_url)} Play
          %td
            =compound.chars_trad
          %td
            =compound.english
