=render :partial => 'search/search_box'

%h6
  Traditional
%p
  =@word.chars_trad

%h6
  Simplified
%p
  =@word.chars_simp

%h6
  Jyutping
%p
  =build_jyutping(@word)

%h6
  English
%p
  %ol
    %li
      =@word.english
    -if @word.english_2.present?
      %li
        =@word.english_2

%h6
  Stroke Order

-if @word.stroke_image
  =image_tag @word.stroke_image.url

:javascript
  soundManager.setup({
    // required: path to directory containing SM2 SWF files
  });
  
%table
  -@word.compounds.sound_ordered_info.each do |compound|
    %tr
      %td
        -if compound.more_info.try(:sound_url).present?
          %a.sm2_button{:href => "http://bigspace.celerity.co.uk/cantonese/" + compound.more_info.try(:sound_url)} Play
      %td
        =compound.chars_trad
      %td
        =compound.english
