// Place all the styles related to the Search controller here.
// They will automatically be included in application.css.
// You can use Sass here: http://sass-lang.com/
@import 'colors'

#search-box-container
  form
    @include clearfix
    margin: 0

  .search-field-container
    float: left
  #q
    font-size: 20px
    padding: 25px 14px
    margin: 0

    &:focus
      outline: 0
      border-color: #FFF

  #search-submit
    padding: 11px 25px
    font-size: 20px

.example-search-container
  margin: 3px 0 0 16px
  color: #999

#search-results
  margin: 20px 0 0
  
  .chinese_chars
    font-size: 20px

  .large_chinese_chars
    font-size: 60px
    
  .bubbleInfo
    position: relative

  .popup
    position: absolute
    display: none
    background: white
    z-index: 1000
    border: 3px solid $grey
    min-width: 600px
    min-height: 200px
    padding: 10px 25px
    @include border-top-radius(5px)
    @include border-bottom-radius(5px)
    @include border-left-radius(5px)
    @include border-right-radius(5px)

.image
  position: relative

  .screen-l, .screen-r
    position: absolute
    top: 0
    display: block
    height: 100%
    opacity: 0.87
    background: white

  .screen-r
    right: 0

.tone-1
  .screen-l
    width: 11.1%
  .screen-r
    width: 74.1%

.tone-2
  .screen-l
    width: 25.6%
  .screen-r
    width: 59.6%

.tone-3
  .screen-l
    width: 40.3%
  .screen-r
    width: 43.5%

.tone-4
  .screen-l
    width: 56.3%
  .screen-r
    width: 28.8%

.tone-5
  .screen-l
    width: 71.1%
  .screen-r
    width: 13.9%

.tone-6
  .screen-l
    width: 86%
  .screen-r
    width: 0%


#sentence-results
  .sentence-r-table
    margin: 0 auto
    td
      padding: 3px 20px

      .sm2_button
        margin: 0 5px 0 0
  .result-char
    font-size: 60px