-content_for :title do
  Daily News


.page-header
  %h1
    Daily News
    %small
      from 
      =link_to "Chinanews.com", 'http://www.chinanews.com/'

-if @daily_articles.present?
  %ol
    -@daily_articles.each do |article|
      %li
        %h1
          =article[:title_orig]
        %h1
          -article[:title].each do |c|
            %span.has-translation
              =c.chars_simp
              .bubble.translation-bubble
                %table
                  %tr
                    %td.text-left
                      =build_jyutping(c)
                  %tr
                    %td.text-left
                      .bubble-char
                        =link_to c.chars_trad, word_path(c), target: "_blank"
                        =surround "(", ")" do
                          =c.chars_simp
                  %tr
                    %td
                      %ol
                        -if c.english_2.present?
                          %li
                            =truncate c.english_2, length: 25
                        %li
                          =truncate c.english, length: 25
        %p
          =link_to "Original Article", article[:link]
        %p
          =article[:title_trans]
      -#
        .article-description
          -article[:description].each do |c|
            %span.has-translation
              =c.chars_trad
              .bubble.translation-bubble
                %table
                  %tr
                    %td.text-left
                      =build_jyutping(c)
                  %tr
                    %td.text-left
                      .bubble-char
                        =link_to c.chars_trad, word_path(c), :target => "_blank"
                  %tr
                    %td
                      %ol
                        -if c.english_2.present?
                          %li
                            =truncate c.english_2, length: 25
                        %li
                          =truncate c.english, length: 25
        %p
          =article[:description_trans]