!!!
%html{lang: "en"}
  
  =render :partial => "layouts/head"
  
  %body
    =render :partial => "shared/navbar"
    .container-fluid

      .row-fluid
        -if notice || alert
          .flash-msgs
            .notice
              =notice
            .alert
              =alert
      .row-fluid
        .span12
          = yield
      / /row
      %footer
        %p © Company 2013
    / /container