!!!
%html
  %head
    %title ConfuciusSay
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    -if notice || alert
      .flash-msgs
        .notice
          =notice
        .alert
          =alert
    .container
      = yield